/*
|--------------------------------------------------------------------------
| DEFAULT STYLES
| Onyx Normalize and Reset V1.1
|--------------------------------------------------------------------------
*/

// correct the line height in all browsers and several fix on html root and
html {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	font-size: $font-size;
	font-family: $font-family;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

// render the `main` element consistently in IE.
main { display: block; }

// reset padding, margin and inherit font
h1, h2, h3, h4, h5, h6, p, blockquote, figure, ol, ul, li,
fieldset, form, label, legend, button, input, optgroup, select, textarea {
	margin: 0;
	padding: 0;
	font-size: inherit;
}

// remove default list style
ol, ul { list-style: none; }

// remove the default vertical scrollbar in IE10+ (normalize 8.0.0)
textarea { overflow: auto; }

// add the correct font size in all browsers (normalize 8.0.0)
small { font-size: 80%; }

// disable default outline that appears when focusing
:focus { outline: 0; }

// remove the inner border and padding in Firefox (normalize 8.0.0)
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// cursor pointer on buttons
button, input[type="submit"] { cursor: pointer; }

// show the overflow in IE and reset appearance in all browsers
button, input {
	overflow: visible;
	border: 0;
	font: inherit;
	-webkit-font-smoothing: inherit;
	letter-spacing: inherit;
	background: none;
}

// adjust better images
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
