{#
 * Base (wrapper) theme template
 * @package Onyx Theme
#}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		{% include 'head.twig' %}
		{% block head %}{% endblock %}
	</head>

		<body class="{{ body_class }}" style="margin: 30px;">
			{% include 'partials/header.twig' %}

			<div id="main-container" class="main-container grid-container">
				<p><a href="/"><u>Home</u></a></p>
				<hr>

				{% block content %}{% endblock %}

				{% include 'partials/sidebar.twig' %}
				{% block sidebar %}{% endblock %}
			</div>

			{% block footer %}{% endblock %}
			{% include 'partials/footer.twig' %}
		</body>
</html>
