{% extends 'base.twig' %}

{% block content %}
	<p>This is Twig</p>
	
	{% for post in posts %}
		<p>Issue: {{ post.title }}</p>
	{% endfor %}

{% endblock %}

{% block footer %}
	<p>This is Footer</p>
{% endblock %}
