{#
 * The template for displaying the sidebar.
 * @package Onyx Theme
#}

<!-- <div id="sidebar">
	<div class="side-section">
		<h6>Side Section Title</h6>
		<span class="subtitle">Section Sub Title</span>
	</div>
</div> -->
