/*
|--------------------------------------------------------------------------
| ONYX FRAMEWORK
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| FONT NAME
|--------------------------------------------------------------------------
*/
/* 100 THIN */
/* 200 EXTRA LIGHT */
/* 300 LIGHT */
/* 400 NORMAL */
/* 500 MEDIUM */
/* 600 SEMI BOLD */
/* 700 BOLD */
/* 800 EXTRA BOLD */
/* 900 ULTRA BOLD */
/*
|--------------------------------------------------------------------------
| VARIABLES
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| MIXINS
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| DEFAULT STYLES
| Onyx Normalize and Reset V1.1
|--------------------------------------------------------------------------
*/
html {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p, blockquote, figure, ol, ul, li,
fieldset, form, label, legend, button, input, optgroup, select, textarea {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ol, ul {
  list-style: none;
}

textarea {
  overflow: auto;
}

small {
  font-size: 80%;
}

:focus {
  outline: 0;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button, input[type="submit"] {
  cursor: pointer;
}

button, input {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/*
|--------------------------------------------------------------------------
| HELPER CLASSES
|--------------------------------------------------------------------------
*/
.left {
  float: left;
}

.right {
  float: right;
}

.cleft {
  clear: left;
}

.cright {
  clear: right;
}

.center {
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.font-normal {
  font-weight: normal;
}

.font-italic {
  font-style: italic;
}

.strong, strong, b {
  font-weight: bold;
}

.dnone {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.dblock {
  display: block !important;
}

.visible {
  visibility: visible !important;
}

.noborder {
  border: none !important;
}

.nobg {
  background: none !important;
}

.nomargin {
  margin: 0 !important;
}

.nomargin-top {
  margin-top: 0 !important;
}

.nomargin-bottom {
  margin-bottom: 0 !important;
}

.nomargin-left {
  margin-left: 0 !important;
}

.nomargin-right {
  margin-right: 0 !important;
}

.nopadding {
  padding: 0 !important;
}

.nopadding-top {
  padding-top: 0 !important;
}

.nopadding-bottom {
  padding-bottom: 0 !important;
}

.nopadding-left {
  padding-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
}

.indent {
  text-indent: -100%;
  white-space: nowrap;
  overflow: hidden;
}

/*
|--------------------------------------------------------------------------
| HIDE CLASSES
|--------------------------------------------------------------------------
*/
/* TO SMALL MOBILE <=320px */
@media only screen and (max-width: 320px) {
  .hide-smb {
    display: none;
  }
}

/* TO MOBILE <=767px */
@media only screen and (max-width: 767px) {
  .hide-mb {
    display: none;
  }
}

/* FROM MOBILE L >=540px */
@media only screen and (min-width: 540px) {
  .hide-lmb {
    display: none;
  }
}

/* FROM TABLET P >=768px */
@media only screen and (min-width: 767px) {
  .hide-ptb {
    display: none;
  }
}

/* FROM TABLET L >=1024px */
@media only screen and (min-width: 1023px) {
  .hide-ltb {
    display: none;
  }
}

/* TO DESK >=1200 */
@media only screen and (min-width: 1200px) {
  .hide-desk {
    display: none;
  }
}

/*
|--------------------------------------------------------------------------
| THEME STYLES
|--------------------------------------------------------------------------
*/
:root {
  --site-with: 1140px;
  --color1: #333;
  --color2: #333;
  --color3: #333;
  --color-bg: #FFF;
  --color-footer-bg: #F0F0F0;
  --color-link: #333;
  --color-link-hover: #333;
  --color-post-title: #333;
  --color-post-link: #333;
  --color-post-link-hover: #333;
  --color-post-border: #333;
}

body {
  background: #FFF;
}

body.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*
|--------------------------------------------------------------------------
| GENERIC LINKS AND BUTTONS
|--------------------------------------------------------------------------
*/
a {
  text-decoration: none;
  color: #333;
  transition: color 200ms, text-indent 200ms, background 200ms;
}

a:hover {
  text-decoration: none;
  color: #333;
}

/*
|--------------------------------------------------------------------------
| HEADINGS
|--------------------------------------------------------------------------
*/
h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

/*
|--------------------------------------------------------------------------
| GRID
|--------------------------------------------------------------------------
*/
.container {
  max-width: 1140px;
  position: relative;
  margin: auto;
}

@media only screen and (min-width: 767px) {
  .container {
    margin: 0 20px 0 20px;
  }
}

.container-limit {
  margin: 0 15px 0 15px;
}

@media only screen and (min-width: 1200px) {
  .container-limit {
    margin: 0;
  }
}

.container.container-limit {
  margin: auto;
  padding: 0 15px 0 15px;
}

@media only screen and (min-width: 767px) {
  .container.container-limit {
    padding: 0 20px 0 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .container.container-limit {
    padding: 0;
  }
}

/*
|--------------------------------------------------------------------------
| HEADER STYLES
|--------------------------------------------------------------------------
*/
/* TO SMALL MOBILE <=320px */
/* TO MOBILE <=767px */
/* FROM MOBILE L >=540px */
/* FROM TABLET P >=768px */
/* FROM TABLET L >=1024px */
/* TO DESK >=1200px */
/*
|--------------------------------------------------------------------------
| STYLES FOR POST CONTENT AREA
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| FOOTER STYLES
|--------------------------------------------------------------------------
*/
/* TO SMALL MOBILE <=320px */
/* TO MOBILE <=767px */
/* FROM MOBILE L >=540px */
/* FROM TABLET P >=768px */
/* FROM TABLET L >=1024px */
/* TO DESK >=1200px */
/*
|--------------------------------------------------------------------------
| COMPONENTS
|--------------------------------------------------------------------------
*/
