{% extends 'base.twig' %}

{% block content %}
	<h1>Onyx Theme with Timber/Twig template engine</h1>
	
	<hr>

	<ul>
		{% for post in posts %}
			<p>
				<strong>Post:</strong>
				<a href="{{ post.link }}">{{ post.title }}</a>
				<p>{{andre}}</p>
			</p>
		{% endfor %}
	</ul>

	<hr> 

{% endblock %}
