{% extends 'base.twig' %}

{% block content %}
	<h1>This is an example of Timber/Twig Template</h1>
	
	<hr>

	<ul>
	{% for post in posts %}
		<p><strong>Post:</strong> <a href="{{ post.link }}">{{ post.title }}</a></p>
	{% endfor %}
	</ul>

	<hr>

{% endblock %}
