{% extends 'base.twig' %}

{% block content %}
	<div class="post-wrapper">
		<div class="post-header">
			<h1><strong>Post:</strong> {{ post.title }}</h1>
			<hr>
		</div>

		<div class="post-content entry-content {{ post.class }}">
			{{ post.content }}
			<hr>
		</div>
		
		<div class="post-comments">
			{{ function('comments_template') }}
		</div>
	</div>
{% endblock %}
