{% extends 'base.twig' %}

{% block content %}
	<h1>Tag Page</h1>
	
	<hr>

	<ul>
		{% for post in posts %}
			<p><strong>Post:</strong> <a href="{{ post.link }}">{{ post.title }}</a></p>
		{% endfor %}
	</ul>
{{ aaa }}
	<hr>

{% endblock %}
