/*! purgecss start ignore */

/*
|--------------------------------------------------------------------------
| WORDPRESS COMMENTS
|--------------------------------------------------------------------------
*/

#comments {
	--avatar-size: 48px;
	--primary-color: #{$color1};
	--secondary-color: #{$color2};
	margin: 25px 0 0 0;

	/* comments main title */
	.comments-title {
		color: #333;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 40px;
		line-height: 1.2;
	}

	/* comment list section */
	.comment-list {
		list-style: none;
		width: 100%;
		margin: 0 0 25px 0;
	}

	/* comment box */
	.comment {
		border-bottom: 1px solid #ddd;
		margin: 0 0 25px 0;
		padding: 0 0 25px calc(var(--avatar-size) + 15px);
		position: relative;
		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
		.children {
			.comment {
				border-bottom: 1px #e0e0e0 dotted;
				// padding-bottom: none;
				&:last-child {
					border-bottom: none;
					padding-bottom: 0;
				}
			}
		}

	/* meta info */
	.comment-awaiting-moderation {
		display: block;
		padding: 10px 20px;
		color: #856404;
		background: #fff3cd;
		border: 1px #ffeeba solid;
		margin: 15px 0;
	}
	.comment-meta {
		font-size: 16px;
		position: initial !important;
	}

	/* author name, avatar */
	.comment-author {
		line-height: 1.2;
		font-size: 16px;
		.avatar {
			width: var(--avatar-size);
			height: var(--avatar-size);
			border-radius: 8px;
			position: absolute;
			top: 0;
			left: 0;
		}
		.says {
			font-style: italic;
		}
	}

	/* time, date, etc.. */
	.comment-metadata {
		font-size: 14px;
		line-height: 1;
		margin: 5px 0 10px 0;
		a:link,
		a:visited {
			color: #888;
		}
	}
	.comment-edit-link {
		font-weight: bold;
		margin-left: 10px;
		&:before {
			content: "[ "
		}
		&:after {
			content: " ]"
		}
	}

	/* comment content */
	.comment-content {
		font-size: 16px; // needed for wp
		p {
			color: #333;
			font-size: 16px;
			line-height: 1.5;
			margin: 20px 0;
		}
	}

	/* reply link */
	.reply {
		font-size: 14px;
		margin: 10px 0 0 0;
		text-align: right;
	}
	#cancel-comment-reply-link {
		font-size: 13px;
		line-height: 1;
		font-weight: normal;
		margin: 5px 0;
		display: block;
	}

	/* respond box */
	.comment-respond {
		margin: 0;
		padding: 20px 0 0 0;
		border-top: 1px solid #e7e7e7;
		position: relative;
	}

	/* reply title */
	.comment-reply-title {
		color: var(--primary-color);
		font-weight: bold;
		font-size: 20px;
		margin: 0 0 10px 0;
		line-height: 1.2;
	}

	/* comment form */
	.comment-form {
		p {
			margin: 10px 0;
		}
		label {
			color: #888;
			font-size: 14px;
			margin-bottom: 5px;
			display: block;
		}
		textarea,
		input[type="text"] {
			color: #333;
			background: #f9f9f9;
			border: 1px #ccc solid;
			box-shadow: inset 1px 1px 1px rgba(#000, .1);
			padding: 10px;
			border-radius: 3px;
			width: 100%;
			font-size: 16px;
			font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			&:focus {
				background: #f0f0f0;
			}
		}
		input {}
	}

	.comment-notes {
		margin-bottom: 25px !important;
		font-size: 15px;
		line-height: 1;
	}

	.required { color: #f64747; }

	/* cookies checkbox */
	.comment-form-cookies-consent {
		display: flex;
		align-items: center;
		padding: 10px 0;
		input {
			padding: 0;
			margin: 0;
		}
		label {
			cursor: pointer;
			line-height: 1;
			margin: 0 0 0 5px;
			display: inline-block;
		}
	}

	/* submit button */
	.form-submit {
		text-align: right;
		margin: 20px 0 0 0 !important;
		input {
			width: auto;
			background: var(--primary-color);
			padding: 10px;
			border-radius: 3px;
			font-size: 14px;
			font-weight: bold;
			color: #FFF;
			transition: all 200ms ease;
			&:hover {
				background: var(--secondary-color);
			}
		}
	}

	/* disabled comments form */
	.no-comments {
		width: 100%;
		text-align: center;
		padding: 10px;
		border: 1px #ccc solid;
		background: #f9f9f9;
		max-width: 700px;
		margin: 40px auto 0 auto;
		border-radius: 4px;
		box-shadow: 0 1px 4px 0 rgba(38, 48, 60, .1);
		font-size: 16px;
	}
}

// .nopassword, .nocomments
// #comentarios .pingback
// .commentlist li.comment+li.pingback
// #comentarios .pingback p
// #comentarios .pingback .url

/*! purgecss end ignore */
