/*! purgecss start ignore */

/*
|--------------------------------------------------------------------------
| GOOGLE GSE
|--------------------------------------------------------------------------
*/

.gsc-search-title {
	text-align: center;
	font-size: 20px;
	color: #333;
	font-weight: 500;
	color: $color1;
	span {
		font-weight: bold;
		text-decoration: underline;
	}
}

/* all search wrapper */
.gsc-control-cse {
	margin: 0 !important;
	padding: 0 0 30px 0 !important;
}
.gsc-control-cse,
.gsc-control-cse .gsc-table-result {
	font-family: $font-family !important;
}

/* ads block (hide) */
.gsc-adBlock { display: none !important }

/* search box tools */
.gsc-search-box {
	margin: 0 0 20px 0 !important;
	@media #{$to-desk} {
		margin: 0 !important;
	}
}

/* text search input */
.gsc-input {
	color: #444;
	@media #{$to-desk} {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		height: 32px !important;
		font-size: 18px !important;
	}
}

/* search button */
.gsc-search-button-v2 {
	&:hover {
		border-color: $color2 !important; 
		background-color: $color2 !important;
	}
	@media #{$to-desk} {
		height: 52px;
		svg {
			transform: scale(1.5);
		}
	}
}

/* input close button */
.gsst_a {
	.gscb_a {
		color: $color-post-link !important;
	}
	&:hover .gscb_a {
		color: $color-post-link-hover !important;
	}
}

/* result info count block */
.gsc-above-wrapper-area {
	margin: 0 0 20px 0;
}

/* result block wrapper */
.gsc-result {
	margin: 0 0 20px 0 !important;
	padding: 0 0 20px 0 !important;
	border-bottom: 1px #eee solid !important;
}

/* result title */
.gs-title {
	margin: 0 0 5px 0;
	font-size: 18px !important;
}

/* result thumbnail and description wraper */
.gsc-table-result {
	margin: 10px 0 0 0;
	display: flex;
	font-size: 14px !important;
	line-height: 1.4;
}

/* thumbnail */
.gs-image-box {
	margin-left: 0 !important;
	margin-right: 10px !important;
}

/* pagination */
.gsc-cursor-box {
	text-align: center !important;
	font-size: 18px;
}

/* google branding */
.gcsc-more-maybe-branding-root {
	text-align: center;
}

/*! purgecss end ignore */
