/* ---------------------------------------------------------------
| CUSTOMIZE GUTENBERG BLOCKS (ON FRONT-END)
--------------------------------------------------------------- */

.entry-content > [class*="wp-block-"] {
	margin: 25px 0;
}
