/*
|--------------------------------------------------------------------------
| HEADER STYLES
|--------------------------------------------------------------------------
*/

/* TO SMALL MOBILE <=320px */
@media #{$to-smb} {

}

/* TO MOBILE <=767px */
@media #{$to-mb} {

}

/* FROM MOBILE L >=540px */
@media #{$from-lmb} {

}

/* FROM TABLET P >=768px */
@media #{$from-ptb} {
	
}

/* FROM TABLET L >=1024px */
@media #{$from-ltb} {
	
}

/* TO DESK >=1200px */
@media #{$to-desk} {
	
}
