/*
|--------------------------------------------------------------------------
| THEME STYLES
|--------------------------------------------------------------------------
*/

// .ads {}

/*
|--------------------------------------------------------------------------
| GRID
|--------------------------------------------------------------------------
*/

.container {
	max-width: $site-width;
	position: relative;
	margin: auto;
	@media #{$from-ptb} {
		margin: 0 20px 0 20px;
	}
}
.container-limit {
	margin: 0 15px 0 15px;
	@media #{$to-desk} {
		margin: 0;
	}
}
.container.container-limit {
	margin: auto;
	padding: 0 15px 0 15px;
	@media #{$from-ptb} {
		padding: 0 20px 0 20px;
	}
	@media #{$to-desk} {
		padding: 0;
	}
}
