@use "../utils/mixins";

/* ---------------------------------------------------------------
| THEME STYLES
--------------------------------------------------------------- */

body {
	background: var(--color-bg);
	&.no-scroll {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
}

/* ---------------------------------------------------------------
| GENERIC LINKS AND BUTTONS
--------------------------------------------------------------- */

a {
	text-decoration: none;
	color: var(--color-link);
	transition: color 200ms, text-indent 200ms, background 200ms;
	
	&:not(.wp-block-button a) {
		@include mixins.hover {
			text-decoration: var(--color-link-hover);
			color: var(--color-link-hover);
		}
	}
}

/* ---------------------------------------------------------------
| HEADINGS
--------------------------------------------------------------- */

h1 { font-size: 36px; line-height: 1.2; }
h2 { font-size: 30px; line-height: 1.2; }
h3 { font-size: 25px; line-height: 1.2; }
h4 { font-size: 20px; line-height: 1.2; }
h5 { font-size: 15px; line-height: 1.2; }
h6 { font-size: 12px; line-height: 1.2; }

/* ---------------------------------------------------------------
| GRID
--------------------------------------------------------------- */

.grid-container {
	max-width: var(--site-with);
	position: relative;
	margin: auto;
	padding: 0 20px;
}

.section {
	margin-bottom: var(--gap-section);
}
