/*
* @ Fonts do Starter Theme
*/

/*************************************************/
/* FONT NAME                                     */
/*************************************************/

// @font-face {
// 	font-family: 'FontName';
// 	font-weight: normal;
// 	src: url('../fonts/FontFile.eot');
// 	src: url('../fonts/FontFile.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/FontFile.woff') format('woff'),
// 		url('../fonts/FontFile.otf') format('OpenType'),
// 		url('../fonts/FontFile.svg#Bree') format('svg');
// }