/*************************************************/
/* FONT STYLES                                   */
/*************************************************/

.post-entry {
	.has-drop-cap:first-letter {
		color: var(--catColor);
		float: left;
		font-size: 65px;
		line-height: 50px;
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;
	}
	.has-small-font-size { font-size: 13px; }
	.has-medium-font-size { font-size: 20px; }
	.has-large-font-size { font-size: 36px; }
	.has-huge-font-size { font-size: 48px; }
}

/*************************************************/
/* BUTTONS                                       */
/*************************************************/

.post-entry {
	.wp-block-button {  }
	.wp-block-button__link {
		border-radius: 100px;
		color: #FFF;
		text-decoration: none;
		display: inline-block;
		margin: 0 0 $elBtMargin 0;
		font-family: $fontFamily2;
		font-weight: bold;
		&:hover {
			opacity: .9;
		}
	}
}

@media #{$to-desk} {
	.post-entry {
		.wp-block-button__link {
			margin-bottom: #{$elBtDeskMargin};
		}
	}
}

/*************************************************/
/* SEPARADOR                                     */
/*************************************************/

.wp-block-separator {
	max-width: 100px;
	border: none;
	border-bottom: 2px solid #8f98a1;
	margin: 0 auto #{$elBtDeskMargin} auto;
}

.wp-block-columns {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 782px) {
	.wp-block-columns {
		flex-wrap: nowrap;
	}
}

/*************************************************/
/* COLUMNS                                       */
/*************************************************/

.wp-block-column {
	flex: 1;
	margin-bottom: #{$elBtDeskMargin};
	flex-basis: 100%;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;
	blockquote {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	*:last-child { margin-bottom: 0; }
}

@media (min-width: 600px) {
	.wp-block-column {
		flex-basis: 50%;
		flex-grow: 0;
	}
}

@media (min-width: 600px) {
	.wp-block-column:nth-child(odd) {
		padding-right: 15px;
	}
	.wp-block-column:nth-child(even) {
		padding-left: 15px;
	}
	.wp-block-column:not(:first-child) {
		padding-left: 15px;
	}
	.wp-block-column:not(:last-child) {
		padding-right: 15px;
	}
}