/*************************************************/
/* QUOTES                                        */
/*************************************************/

.post-entry {
	.wp-block-quote,
	.wp-block-pullquote {
		position: relative;
		padding: 15px 30px 15px 30px;
		// background-color: #F9F9F9;
		border-left: 4px solid var(--catColor);
		margin: $elBtMargin 15px $elBtMargin 15px;
		font-style: italic;
		clear: both;
		&:before {
			content: '“';
			font-size: 120px;
			position: absolute;
			top: -20px;
			left: 0;
			z-index: -1;
			color: rgba(0,0,0,.1);
		}
		p {
			font-size: 22px;
			margin: 20px 0px 0px 0px !important;
			&:first-child { margin: 0px !important; }
		}
		cite {
			font-size: 15px;
			margin-top: 10px;
			display: block;
			font-family: $fontFamily2;
		}
		&.is-style-solid-color,
		&.is-style-large {
			border: none;
			p {
				font-size: 30px;
				padding: 40px;
			}
		}
	}
	
	.wp-block-pullquote {
		margin: 0 -15px #{$elBtMargin} -15px;
		padding: 30px;
		border-left: none;
		border-top: 4px solid var(--catColor);
		border-bottom: 4px solid var(--catColor);
		&:before { top: 0; }
		p {
			font-size: 22px;
			line-height: 1.2;
		}
	}
}

@media #{$from-ptb} {
	.post-entry {
		.wp-block-pullquote {
			margin: 0 0 #{$elBtMargin} 0;
		}
	}
}

@media #{$to-desk} {
	.post-entry {
		.wp-block-quote,
		.wp-block-pullquote {
			margin: 0 0 #{$elBtDeskMargin} 0;
		}
	}
}