/*************************************************/
/* EMBED                                         */
/*************************************************/

.wp-block-embed {
	margin-bottom: #{$elBtMargin};
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-embed.alignleft,
.wp-block-embed.alignright {
	max-width: 360px;
	width: 100%;
}

.wp-block-embed.alignwide,
.wp-block-embed.alignfull {
	margin: 0 -15px #{$elBtMargin} -15px;
	figcaption {
		padding: 5px 15px 0 15px;
	}
}

.wp-block-embed.is-type-rich {
	max-width: 500px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.wp-block-embed figcaption {
	margin-top: 0.5em;
	margin-bottom: 20px;
	color: #555d66;
	text-align: center;
	font-size: 13px;
}

.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper,
.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper {
	position: relative;
}

.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before,
.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before,
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before,
.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before,
.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before,
.wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper::before,
.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
	content: "";
	display: block;
	padding-top: 50%;
}

.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe,
.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper iframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before { padding-top: 42.85%; }
.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before { padding-top: 50%; }
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before { padding-top: 56.25%; }
.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before { padding-top: 75%; }
.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before { padding-top: 100%; }
.wp-block-embed.wp-embed-aspect-9-6 .wp-block-embed__wrapper::before { padding-top: 66.66%; }
.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before { padding-top: 200%; }

/*************************************************/
/*	@ FROM TABLET P >=768px                       */
/*************************************************/

@media #{$from-ptb} {
	.wp-block-embed.alignwide,
	.wp-block-embed.alignfull {
		margin: 0 0 #{$elBtMargin} -20px;
		figcaption {
			padding: 5px 15px 0 15px;
		}
	}
}

/*************************************************/
/*	@ TO DESK >=1200                            */
/*************************************************/

@media #{$to-desk} {
	.wp-block-embed,
	.wp-block-embed.alignwide,
	.wp-block-embed.alignfull {
		margin: 0 0 #{$elBtDeskMargin} -#{$elLeftDeskMargin};
	}
}
